.rec-flex{
    display: flex;
    margin-left: 16%;
    /* margin-top: 100px; */
}

.rec-title{
    margin-top: 150px;     /* Height of navbar */
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 16%;
    font-family: sans-serif;
    color: rgb(5, 180, 25);
}

.rec-buttons{
    padding: 10px 20px;
    margin-right: 6px;
    background: transparent;
    border: none;
    border: 0.6px solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;
  }