.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16%;      /* Match above sidebar, keep layout aligned */
    margin-top: 50px;      /* Add space for fixed navbar height */
    z-index: 1;            /* Ensure products appear above background, not below */
}
.card{
    margin: 20px;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 20px;
    cursor: pointer;
}

.card-image{
    width: 13rem;
    margin-bottom: 1rem;
}

.card-title{
    margin-bottom: 1rem;
}

.card-reviews{
    display: flex;
    margin-bottom: 1rem;
}

.star-icon{
    color: gold;
}

.total-reviews{
    margin-left: 10px; ;
}

.card-price{
    display: flex;
    justify-content: space-between;
}